.contentDiv{
    height: 92vh;
    width: 72.5%;
    display: inline;
    float: right;
    position: relative;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .contentDiv{
        width: 100%;
    }
  }
.pageFix{
    display: flex;
}
.contentBtn{
    background-color: #FFC236;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
    border-style: solid;
    position: absolute;
    bottom: 30px;
    right: 20px;
}