.mainSide{
    border-right-style: solid;
    border-right-width: 1px;
    border-color:darkgrey;
    width: 27.5%;
    height: 92vh;
    justify-content: center;
    display: flex;
    overflow: auto;
}
@media only screen and (max-width: 600px) {
    .mainSide{
        width: 0%;
    }
  }
h1 {
    margin: 30px 0 30px 0;
}
.searchDiv{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.searchInput{
    height: 30px;
    width: 98%;
}
.searchInput:focus{
    outline: none;
}
.inputIcon{
    position: absolute;
    top: 25%;
    right: 3%;
    color: grey;
}
.divParent{
    position: relative;
}